{% extends "component/base_popup.html" %}

{% load static %}

{% block dialog %}
<div class="flex justify-between items-center border-b border-neutral p-2 pl-4 w-96">
    <p>Create New Plan</p>
    <form method="dialog">
        <button type="submit" class="bg-base-200 group m-1 p-1 rounded-full hover:brightness-200 cursor-pointer">
            <img src="{% static 'img/cross.svg' %}" class="group-hover:brightness-50" alt="" height="20px" width="20px">
        </button>
    </form>
</div>

<form action="/create_plan/" method="post" class="flex flex-col gap-4 p-4 w-96">
    {% csrf_token %}
    <label for="plan-name-create-modal" class="space-y-1.5"> 
        <p>Add title for plan</p>
        <input class="w-full input border-neutral bg-base-400 text-base p-3 outline-none" name="plan_name" required id="plan-name-create-modal" type="text" placeholder="Plan name..."/>
    </label>
    <label for="plan-desc-create-modal" class="space-y-1.5"> 
        <p>Add a description</p>
        <textarea  class="w-full h-48 textarea border-neutral text-base align-text-top p-2 px-3 min-h-6 resize-none outline-none min-w-full" name="plan_desc" required id="plan-desc-create-modal" type="text" placeholder="Write Description here..."></textarea>
    </label>
    <button type="submit" class="text-lg btn bg-success border-success-content font-medium">Create</button>
</form>

{% endblock %}