{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        
        <!-- <meta name="msapplication-TileColor" content="#fff"/> -->
        <!-- <meta name="theme-color" content="#fff"/> -->
        
        <link rel="icon" type="image/x-icon" href="{{icon}}">
        <title>{{title}}</title>
    </head>

    <body>
        <div id="top-layer"></div>

        <div class="">
            <main class="">
                {% block content %}
                {% endblock %}
            </main>
        </div>
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
    </body>
</html>