{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="flex h-full">
    <div class="p-4 min-w-64 hidden md:flex flex-col gap-7">
        <a href="/" class="flex items-center gap-2">
            <div class="btn">
                <img src="{% static 'img/arrow-left.svg' %}" alt="go back to home page button" width="18px" height="18px">
            </div>
            <p class="text-2xl">Settings</p>
        </a>
        <div class="flex flex-col items-start gap-2">
            <label class="hover:bg-base-200 w-full p-2 px-4 rounded-box cursor-pointer" for="organisation-profile">Organisation Profile</label>
            <label class=" hover:bg-base-200 w-full p-2 px-4 rounded-box cursor-pointer" for="user-management">Users Management</label>
            <label class=" hover:bg-base-200 w-full p-2 px-4 rounded-box cursor-pointer" for="status-configurations">Status configurations</label>
            <label class=" hover:bg-base-200 w-full p-2 px-4 rounded-box cursor-pointer" for="notification-alerts">Notification & alerts</label>
            <label class=" hover:bg-base-200 w-full p-2 px-4 rounded-box cursor-pointer" for="security-settings">Security Settings</label>
        </div>
    </div>
    <div class="grow m-4 md:ml-0 flex flex-col gap-4 ">
        <form hx-post="" hx-swap="innerHTML" hx-target=""  class="flex gap-3 items-center justify-center">
            {% csrf_token %}
            <label class="input w-96">
                <img src="{% static 'img/filter.svg' %}" height="24px" width="24px" alt="search bar" > 
                <input name="search" type="search" required placeholder="Search"/>
            </label>
            <button type="submit"  class="btn h-8 bg-success border border-success-content">Find</button>
        </form>        

        <div class="card grow bg-base-200 drop-shadow-md">
            <a href="/" class="flex items-center justify-between p-3 md:hidden">
                <div class="flex items-center gap-2">
                    <div class="btn border border-neutral">
                        <img src="{% static 'img/arrow-left.svg' %}" alt="go back to home page button" width="18px" height="18px">
                    </div>
                    <p class="text-2xl">Settings</p>
                </div>
            </a>
            
            <div class="p-4 px-4 md:px-6">
    
                <div class="">
                    <!--organistaion profile-->
                    <input type="radio" checked name="menu"  class="hidden peer" id="organisation-profile">
                    <div class="peer-checked:flex flex-col hidden gap-4">
                        <p class="text-xl">Organisation Profile</p>
                        
                        {% if request.user.is_admin %}
                            <form action="/change_profile/" enctype="multipart/form-data" method="post" class="flex flex-col gap-1 px-2">
                                {% csrf_token %}
                                <div class="grid justify-center">
                                    {% include "component/image_btn.html" with previewImage=icon imagePreviewId="org_img_preview" imageInputId="org_img_input" %}
                                </div>
                                <label class="space-y-2">
                                    <p>Organisation Name</p>
                                    <input class="input w-full" placeholder="write name here..." type="text" name="title" value="{{config.name}}">
                                </label>
                                <label class="space-y-2">
                                    <p>Organisation Goal</p>
                                    <input class="input w-full" placeholder="write goal here..." type="text" name="desc" value="{{config.goal}}">
                                </label>
                                <button class="btn bg-success border border-accent p-2 w-fit px-6 self-end mt-2" type="submit">Change Details</button>
                            </form>
                        {% endif %}
                        
                        <div class="-mt-2">
                            <p>Plans</p>
                            <p class="text-sm text-neutral">Organisation Plans</p>
                        </div>
                        <div class="p-2">
                            <div class="rounded-box border border-neutral">
                                <form class="p-4 flex gap-3 items-center" 
                                    hx-post="/search_plans/" 
                                    hx-swap="innerHTML" 
                                    hx-target="#plans-table"
                                >
                                    {% csrf_token %}
                                    <label class="input grow ">
                                        <img src="{% static 'img/filter.svg' %}" height="24px" width="24px" alt="search bar" > 
                                        <input name="search" id="search-plans-table" type="search" placeholder="Search"/>
                                    </label>
                                    <button type="submit"  class="btn h-8 bg-success border border-success-content">Find</button>
                                </form>
                                <div class="flex items-center justify-between border-t border-neutral p-2 ">
                                    <button class="btn bg-base-200 border-neutral border" 
                                        type="button"
                                        hx-target="#top-layer" 
                                        hx-swap="innerHTML"
                                        hx-get="/create_plan/" 
                                    >
                                        <img src="{% static 'img/add.svg' %}" alt="add" height="18px" width="18px">
                                        <span>New Plan</span>
                                    </button>
                                    
                                    <form class="text-sm flex items-center gap-2 p-2" 
                                        hx-post="/sort_plan/" 
                                        hx-trigger="change" 
                                        hx-swap="innerHTML" 
                                        hx-target="#plans-table"
                                        hx-include="#search-plans-table"
                                    >
                                        {% csrf_token %}
                                        <p>Sort by</p>
                                        <div class="">
                                            <input type="radio" class="peer hidden" id="SortByCreated" value="1" name="sort"/>
                                            <label for="SortByCreated" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                Date Created
                                            </label>
                                        </div>
                                        <div class="">
                                            <input type="radio" class="peer hidden" id="SortByUpdate" value="2" name="sort"/>
                                            <label for="SortByUpdate" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                Date Updated
                                            </label>
                                        </div>
                                        <div class="">
                                            <input type="radio" class="peer hidden" id="SortByName" value="3" name="sort"/>
                                            <label for="SortByName" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                Name
                                            </label>
                                        </div>
                                    </form>
                                    
                                </div>
                                <div id="plans-table">
                                    {% include "component/plan_table.html" with plans=plans %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        

                <div class="">
                    <!--user management-->
                    <input type="radio" name="menu"  class="hidden peer" id="user-management">
                    <div class="peer-checked:flex flex-col gap-4 hidden">
                        <p class="text-xl">User Management</p>

                        {% if request.user.is_admin %}
                            <div class="flex justify-between items-center">
                                <div class="">
                                    <p>Add User</p>             
                                    <p class="text-neutral text-sm">Create a new user for organisation</p>
                                </div>
                                <label class="btn border border-neutral" aria-label="show user creation form" for="hide-user-form">
                                    <img src="{% static 'img/chevron-down.svg' %}" alt="toggle user creation" width="24px" height="24px">
                                </label>
                            </div>
                            <input type="checkbox" id="hide-user-form" class="hidden peer" checked>
                            <form class="grid grid-cols-2 w-full peer-checked:hidden"  autocomplete="off" 
                                hx-post="/create_user/" 
                                hw-swap="innerHTML" 
                                hx-target="#error-user"
                                >
                                {% csrf_token %}
                                <div class="flex w-full items-center justify-center">
                                    {% include "component/image_btn.html" with size="h-16 w-16" extraStyle="p-8" imagePreviewId="user_img_preview" imageInputId="user_img_input" %}
                                </div>
                                <div class="flex flex-col gap-2">
                                    <div class="flex flex-col gap-1">
                                        <p>Name</p> 
                                        <label class="input grow w-full">
                                            &#8204;
                                            <input name="username" type="text" required placeholder="&#8204;User&#8204; Name&#8204;" value=" "/>
                                        </label>
                                    </div>
                                    <div class="flex flex-col gap-1">
                                        <p>Email</p> 
                                        <label class="input grow w-full">
                                            &#8204;
                                            <input name="email" type="email" required placeholder="&#8204;Email&#8204;@examplecom&#8204;" value=" "/>
                                        </label>
                                    </div>
                                    <div class="flex flex-col gap-1">
                                        <p>Password</p> 
                                        <label class="input grow w-full">
                                            &#8204;
                                            <input name="password" type="password" required  placeholder="&#8204;User's&#8204; pass&#8204;word&#8204;" value=""/>
                                        </label>
                                    </div>
                                    <p>Role</p> 
                                    <div class="flex gap-2 items-center">
                                        <div class="">
                                            <input type="radio" class="peer hidden" id="role-admin" required value="1" name="role"/>
                                            <label for="role-admin" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                Admin
                                            </label>
                                        </div>
                                        <div class="">
                                            <input type="radio" class="peer hidden" id="role-dev" value="2" required name="role"/>
                                            <label for="role-dev" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                Developer
                                            </label>
                                        </div>
                                        <div class="">
                                            <input type="radio" class="peer hidden" id="role-review" checked required value="3" name="role"/>
                                            <label for="role-review" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                Reviewer
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit"  class="mt-2 btn bg-success border border-success-content">Create User</button>
                                    <div class="bg-red-700 rounded-box" id="error-user"></div>
                                </div>
                            </form>
                        {% endif %}
                        
                        <div class="">
                            <p>Existing User</p>
                            <p class="text-sm text-neutral">Manage Users Access</p>
                        </div>
                        <div class="p-2">
                            <div class="border flex flex-col border-neutral rounded-box">
                                <div class="p-2">
                                    <form hx-post="/search_users/" hx-swap="innerHTML" hx-target="#user-table"  class="flex gap-3 items-center justify-center">
                                        {% csrf_token %}
                                        <label class="input grow w-96">
                                            <img src="{% static 'img/filter.svg' %}" height="24px" width="24px" alt="search bar" > 
                                            <input name="search" type="search" placeholder="Search" id="search-user-table"/>
                                        </label>
                                        <button type="submit"  class="btn h-8 bg-success border border-success-content">Find</button>
                                    </form>
                                </div>
                                <div class="flex items-center border-t border-neutral p-2">
                                    <form class="text-sm w-full flex items-center justify-between"  
                                        hx-post="/sort_user/" 
                                        hx-trigger="change" 
                                        hx-swap="innerHTML" 
                                        hx-target="#user-table"
                                        hx-include="#search-user-table"
                                    >
                                        {% csrf_token %}
                                        <div class="base-200 rounded-box relative border border-neutral flex w-32">

                                            <style>
                                                .sortbyrole-output::before {
                                                    content: "Select Role";
                                                }
    
                                                .checkbox-container:has(#sortbyadmin:checked) ~ .sortbyrole-output::before {
                                                    content: "Admin";
                                                }
    
                                                .checkbox-container:has(#sortbydeveloper:checked) ~ .sortbyrole-output::before {
                                                    content: "Developer";
                                                }
    
                                                .checkbox-container:has(#sortbyreporter:checked) ~ .sortbyrole-output::before {
                                                    content: "Reporter";
                                                }
                                            </style>
                                            
                                            <label class="w-full h-full absolute cursor-pointer" for="selectRole"></label>
                                            <input type="checkbox" class="peer hidden" id="selectRole" checked>
                                            
                                            <dialog class="peer-checked:hidden checkbox-container absolute top-full p-2 card bg-base-200 shadow-md w-36 border border-neutral" open>
                                                
                                                <label class="flex gap-2 p-2 hover:bg-base-100 rounded-box cursor-pointer">
                                                    <input type="checkbox" id="sortbyadmin" name="choices" value="0">
                                                    <p>Admin</p>
                                                </label>
                                                
                                                <label class="flex gap-2 p-2 hover:bg-base-100 rounded-box cursor-pointer">
                                                    <input type="checkbox" id="sortbydeveloper" name="choices" value="1">
                                                    <p>Developer</p>       
                                                </label>
                                                
                                                <label  class="flex gap-2 p-2 hover:bg-base-100 rounded-box cursor-pointer">
                                                    <input type="checkbox" id="sortbyreporter" name="choices" value="2">
                                                    <p>Reporter</p>
                                                </label>
                                                
                                            </dialog>

                                            <div class="p-1"></div>
                                            <img src="{% static 'img/chevron-down.svg' %}" alt="select role" width="18px" height="18px">
                                            <div class="sortbyrole-output p-2"></div>
                                            
                                        </div>                                    

                                        <div class="flex items-center gap-2 p-2">
                                            <p>Sort by</p>
                                            <div class="">
                                                <input type="radio" class="peer hidden" id="SortByLogin-user" checked value="1" name="sort"/>
                                                <label for="SortByLogin-user" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                    Last Login
                                                </label>
                                            </div>
                                            <div class="">
                                                <input type="radio" class="peer hidden" id="SortByCreated-user" value="2" name="sort"/>
                                                <label for="SortByCreated-user" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                    Date Created
                                                </label>
                                            </div>
                                            <div class="">
                                                <input type="radio" class="peer hidden" id="SortByName-user" value="3" name="sort"/>
                                                <label for="SortByName-user" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                    Name
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="" id="user-table">
                                    {% include "component/user_table.html" with users=users %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="">
                    <!--Status configuration-->
                    <input type="radio" name="menu"  class="hidden peer" id="status-configurations">
                    <div class="peer-checked:flex flex-col gap-4 hidden">
                        <p class="text-lg">Status configurations</p>

                        <div class="">
                            Status
                        </div>
                        <div class="px-2">
                            <div class="border flex flex-col border-neutral rounded-box">
                                <div class="p-2">
                                    <form hx-post="/search_status/" hx-swap="innerHTML" hx-target="#status-table"  class="flex gap-3 items-center justify-center">
                                        {% csrf_token %}
                                        <label class="input grow w-96">
                                            <img src="{% static 'img/filter.svg' %}" height="24px" width="24px" alt="search bar" > 
                                            <input name="search" type="search" placeholder="Search" id="search-status-table"/>
                                        </label>
                                        <button type="submit"  class="btn h-8 bg-success border border-success-content">Find</button>
                                    </form>
                                </div>

                                <div class="flex items-center border-t border-neutral p-2 px-4 justify-between text-sm">
                                    
                                    <button class="flex gap-2 items-center border p-2 border-neutral rounded-box cursor-pointer" type="button" hx-get="/create_status/" hx-target="#top-layer" hx-swap="innerHTML">
                                        <img src="{% static 'img/add.svg' %}" height="16px" width="16px" alt="create status button">
                                        <p>Create status</p>
                                    </button>

                                    <form class="flex items-center gap-2" hx-post="/sort_status/" 
                                        hx-trigger="change" 
                                        hx-swap="innerHTML" 
                                        hx-target="#status-table"
                                        hx-include="#search-status-table">
                                        {% csrf_token %}
                                        <div class="relative">
                                            <label class="btn border border-neutral bg-base-100 p-0 px-4" type="button" for="dialog-plan-status">
                                                <img src="{% static 'img/chevron-down.svg' %}" alt="show plans" width="18px" height="18px">
                                                <p>Plans</p>
                                            </label>
                                            <input type="checkbox" checked class="peer hidden" id="dialog-plan-status">
                                            <dialog open class="absolute w-52 max-w-96 border border-neutral translate-y-1.5 drop-shadow-sm flex flex-col gap-1 p-1 rounded-box peer-checked:hidden">
                                                {% for plan in plans %}
                                                <label class="p-2 pr-4 flex items-center gap-3 rounded-box hover:bg-base-200 cursor-pointer">        
                                                    <input checked type="checkbox" name="choices-plan-status" value="{{plan.id}}" >
                                                    <div class="">
                                                        <p class="w-full truncate">{{plan.name}}</p>
                                                        <p class="text-sm text-neutral">{{plan.desc}}</p>
                                                    </div>
                                                </label>    
                                                {% endfor %}
                                            </dialog>
                                        </div>
                                        
                                        <div class="flex items-center gap-2">
                                            <p>Sort by</p>
                                            <div class="">
                                                <input type="radio" class="peer hidden" id="SortByCreated-status" value="1" checked name="sort"/>
                                                <label for="SortByCreated-status" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                    Date Created
                                                </label>
                                            </div>
                                            <div class="">
                                                <input type="radio" class="peer hidden" id="SortByUpdate-status" value="2" name="sort"/>
                                                <label for="SortByUpdate-status" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                    Date Updated
                                                </label>
                                            </div>
                                            <div class="">
                                                <input type="radio" class="peer hidden" id="SortByName-status" value="3" name="sort"/>
                                                <label for="SortByName-status" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                    Name
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="" id="status-table">
                                    {% include "component/status_table.html" with statuses=statuses %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="flex justify-between items-center">
                            <p>Status - Priorities</p>
                            <label class="btn border border-neutral" aria-label="toggle priorities table" for="toggle-priority">
                                <img src="{% static 'img/chevron-down.svg' %}" alt="show-plans" width="24px" height="24px">
                            </label>
                        </div>
                        <input checked type="checkbox" id="toggle-priority"  class="hidden peer">
                        <div class="px-2 peer-checked:hidden">
                            <div class="border flex flex-col border-neutral rounded-box">
                                <div class="p-2">
                                    <form hx-post="/search_priority/" hx-swap="innerHTML" hx-target="#priority-table"  class="flex gap-3 items-center justify-center">
                                        {% csrf_token %}
                                        <label class="input grow w-96">
                                            <img src="{% static 'img/filter.svg' %}" height="24px" width="24px" alt="search bar" > 
                                            <input name="search" type="search" placeholder="Search" id="search-priority-table"/>
                                        </label>
                                        <button type="submit"  class="btn h-8 bg-success border border-success-content">Find</button>
                                    </form>
                                </div>
                                
                                <div class="flex items-center border-t border-neutral p-2 px-4 justify-between text-sm">
                                    
                                    <button class="flex gap-2 items-center border p-2 border-neutral rounded-box cursor-pointer" type="button" hx-get="/create_priority/" hx-target="#top-layer" hx-swap="innerHTML">
                                        <img src="{% static 'img/add.svg' %}" height="16px" width="16px" alt="create priority button">
                                        <p>Create Priority</p>
                                    </button>

                                    <form class="flex items-center gap-2" hx-post="/sort_priority/" 
                                        hx-trigger="change" 
                                        hx-swap="innerHTML" 
                                        hx-target="#priority-table"
                                        hx-include="#search-priority-table">
                                        {% csrf_token %}
                                        <div class="relative">
                                            <label class="btn border border-neutral bg-base-100 p-0 px-4" type="button" for="dialog-plan-priority">
                                                <img src="{% static 'img/chevron-down.svg' %}" alt="show plans" width="18px" height="18px">
                                                <p>Plans</p>
                                            </label>
                                            <input type="checkbox" checked class="peer hidden" id="dialog-plan-priority">
                                            <dialog open class="absolute w-52 max-w-96 border border-neutral translate-y-1.5 drop-shadow-sm flex flex-col gap-1 p-1 rounded-box peer-checked:hidden">
                                                {% for plan in plans %}
                                                <label class="p-2 pr-4 flex items-center gap-3 rounded-box hover:bg-base-200 cursor-pointer">        
                                                    <input checked type="checkbox" name="choices-plan-priority" value="{{plan.id}}" >
                                                    <div class="">
                                                        <p class="w-full truncate">{{plan.name}}</p>
                                                        <p class="text-sm text-neutral">{{plan.desc}}</p>
                                                    </div>
                                                </label>    
                                                {% endfor %}
                                            </dialog>
                                        </div>
                                        
                                        <div class="flex items-center gap-2">
                                            <p>Sort by</p>
                                            <div class="">
                                                <input type="radio" class="peer hidden" id="SortByCreated-priority" value="1" checked name="sort"/>
                                                <label for="SortByCreated-priority" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                    Date Created
                                                </label>
                                            </div>
                                            <div class="">
                                                <input type="radio" class="peer hidden" id="SortByUpdate-priority" value="2" name="sort"/>
                                                <label for="SortByUpdate-priority" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                    Date Updated
                                                </label>
                                            </div>
                                            <div class="">
                                                <input type="radio" class="peer hidden" id="SortByName-priority" value="3" name="sort"/>
                                                <label for="SortByName-priority" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                    Name
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="" id="priority-table">
                                    {% include "component/priority_table.html" with priorities=priorities %}
                                </div>
                            </div>
                        </div>
                    
                        <div class="flex flex-col gap-4">
                            <div class="flex justify-between items-center">
                                <p>Status - Types</p>
                                <label class="btn border border-neutral" aria-label="toggle types table" for="toggle-types">
                                    <img src="{% static 'img/chevron-down.svg' %}" alt="show plans" width="24px" height="24px">
                                </label>
                            </div>
                            <input type="checkbox" checked id="toggle-types" class="hidden peer">                
                            <div class="px-2 peer-checked:hidden">
                                <div class="border flex flex-col border-neutral rounded-box">
                                    <div class="p-2">
                                        <form hx-post="/search_types/" hx-swap="innerHTML" hx-target="#types-table"  class="flex gap-3 items-center justify-center">
                                            {% csrf_token %}
                                            <label class="input grow w-96">
                                                <img src="{% static 'img/filter.svg' %}" height="24px" width="24px" alt="search bar" > 
                                                <input name="search" type="search" placeholder="Search" id="search-types-table"/>
                                            </label>
                                            <button type="submit"  class="btn h-8 bg-success border border-success-content">Find</button>
                                        </form>
                                    </div>
                                    
                                    <div class="flex items-center border-t border-neutral p-2 px-4 justify-between text-sm">
                                        
                                        <button class="flex gap-2 items-center border p-2 border-neutral rounded-box cursor-pointer" type="button" hx-get="/create_types/" hx-target="#top-layer" hx-swap="innerHTML">
                                            <img src="{% static 'img/add.svg' %}" height="16px" width="16px" alt="create type button">
                                            <p>Create type</p>
                                        </button>

                                        <form class="flex items-center gap-2" hx-post="/sort_types/" 
                                            hx-trigger="change" 
                                            hx-swap="innerHTML" 
                                            hx-target="#types-table"
                                            hx-include="#search-types-table">
                                            {% csrf_token %}
                                            <div class="relative">
                                                <label class="btn border border-neutral bg-base-100 p-0 px-4" type="button" for="dialog-plan-types">
                                                    <img src="{% static 'img/chevron-down.svg' %}" alt="show plans" width="18px" height="18px">
                                                    <p>Plans</p>
                                                </label>
                                                <input type="checkbox" checked class="peer hidden" id="dialog-plan-types">
                                                <dialog open class="absolute w-52 max-w-96 border border-neutral translate-y-1.5 drop-shadow-sm flex flex-col gap-1 p-1 rounded-box peer-checked:hidden">
                                                    {% for plan in plans %}
                                                    <label class="p-2 pr-4 flex items-center gap-3 rounded-box hover:bg-base-200 cursor-pointer">        
                                                        <input checked type="checkbox" name="choices-plan-types" value="{{plan.id}}" >
                                                        <div class="">
                                                            <p class="w-full truncate">{{plan.name}}</p>
                                                            <p class="text-sm text-neutral">{{plan.desc}}</p>
                                                        </div>
                                                    </label>    
                                                    {% endfor %}
                                                </dialog>
                                            </div>
                                            
                                            <div class="flex items-center gap-2">
                                                <p>Sort by</p>
                                                <div class="">
                                                    <input type="radio" class="peer hidden" id="SortByCreated-types" value="1" checked name="sort"/>
                                                    <label for="SortByCreated-types" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                        Date Created
                                                    </label>
                                                </div>
                                                <div class="">
                                                    <input type="radio" class="peer hidden" id="SortByUpdate-types" value="2" name="sort"/>
                                                    <label for="SortByUpdate-types" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                        Date Updated
                                                    </label>
                                                </div>
                                                <div class="">
                                                    <input type="radio" class="peer hidden" id="SortByName-types" value="3" name="sort"/>
                                                    <label for="SortByName-types" class="peer-checked:text-black peer-checked:bg-white cursor-pointer rounded-box border border-neutral bg-base-200 p-2">
                                                        Name
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="" id="types-table">
                                        {% include "component/types_table.html" with types=types %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
        
                <div class="">
                    <input type="radio" name="menu" class="hidden peer" id="notification-alerts">
                    <div class="peer-checked:flex flex-col gap-4 hidden">
                        <p class="text-lg">Notification & alerts</p>
                        <div class="">
                            <p>Notification Types</p>
                            <p class="text-sm text-neutral">Enable/disable alerts for notifications types</p>
                        </div>
                        <form action="/update_notification_preference/" class="flex flex-col gap-3" method="post">
                            {% csrf_token %}
                            <div class="flex flex-col gap-2 w-full">

                                <div class="flex w-full justify-between items-center px-4">
                                <p>Allow “issue.assigned” notifications</p>
                                <input
                                    type="checkbox"
                                    name="issue_assigned"
                                    value="True"
                                    {% if prefs.issue_assigned %}checked{% endif %}
                                >
                                </div>

                                <div class="flex w-full justify-between items-center px-4">
                                <p>Allow “issue.unassigned” notifications</p>
                                <input
                                    type="checkbox"
                                    name="issue_unassigned"
                                    value="True"
                                    {% if prefs.issue_unassigned %}checked{% endif %}
                                >
                                </div>

                                <div class="flex w-full justify-between items-center px-4">
                                <p>Allow “issue.status” notifications</p>
                                <input
                                    type="checkbox"
                                    name="issue_status"
                                    value="True"
                                    {% if prefs.issue_status %}checked{% endif %}
                                >
                                </div>

                                <div class="flex w-full justify-between items-center px-4">
                                <p>Allow “issue.priority” notifications</p>
                                <input
                                    type="checkbox"
                                    name="issue_priority"
                                    value="True"
                                    {% if prefs.issue_priority %}checked{% endif %}
                                >
                                </div>

                                <div class="flex w-full justify-between items-center px-4">
                                <p>Allow “issue.type” notifications</p>
                                <input
                                    type="checkbox"
                                    name="issue_type"
                                    value="True"
                                    {% if prefs.issue_type %}checked{% endif %}
                                >
                                </div>

                                <div class="flex w-full justify-between items-center px-4">
                                <p>Allow “issue.pinned” notifications</p>
                                <input
                                    type="checkbox"
                                    name="issue_pinned"
                                    value="True"
                                    {% if prefs.issue_pinned %}checked{% endif %}
                                >
                                </div>

                                <div class="flex w-full justify-between items-center px-4">
                                <p>Allow “issue.unpinned” notifications</p>
                                <input
                                    type="checkbox"
                                    name="issue_unpinned"
                                    value="True"
                                    {% if prefs.issue_unpinned %}checked{% endif %}
                                >
                                </div>

                                <div class="flex w-full justify-between items-center px-4">
                                <p>Allow “issue.locked” notifications</p>
                                <input
                                    type="checkbox"
                                    name="issue_locked"
                                    value="True"
                                    {% if prefs.issue_locked %}checked{% endif %}
                                >
                                </div>

                                <div class="flex w-full justify-between items-center px-4">
                                <p>Allow “issue.unlocked” notifications</p>
                                <input
                                    type="checkbox"
                                    name="issue_unlocked"
                                    value="True"
                                    {% if prefs.issue_unlocked %}checked{% endif %}
                                >
                                </div>

                                <div class="flex w-full justify-between items-center px-4">
                                <p>Allow “issue.name” notifications</p>
                                <input
                                    type="checkbox"
                                    name="issue_name"
                                    value="True"
                                    {% if prefs.issue_name %}checked{% endif %}
                                >
                                </div>

                                <div class="flex w-full justify-between items-center px-4">
                                <p>Allow “issue.desc” notifications</p>
                                <input
                                    type="checkbox"
                                    name="issue_desc"
                                    value="True"
                                    {% if prefs.issue_desc %}checked{% endif %}
                                >
                                </div>

                            </div>

                            <div class="flex w-full justify-end">
                                <button type="submit" class="btn btn-success border border-success-content text-white">
                                Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
        
                <div class="">
                    <input type="radio" name="menu"  class="hidden peer" id="security-settings">
                    <div class="peer-checked:flex flex-col gap-4 hidden">
                        <p class="text-lg">Security Settings</p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
{% endblock content %}